body{
	margin: 0;
}

img {
	margin-left: 137px;
}

.lower__button {
	background-color: red;
	padding: 16px;
	color: white;
	display: inline-block;
	width: 50px;
}

.higher__button {
	background-color: lightgreen;
	padding: 16px;
	color: black;
	display: inline-block;
	width: 50px;
}

.shuffle__button {
	background-color: grey;
	padding: 16px;
	color: black;
	display: inline-block;
	width: 50px;
}

.help {
	background-color: black;
	padding: 16px;
	color: white;
	display: inline-block;
	width: 50px;
	margin-left: 160px;
}

.result {
	text-align: center;
	width: 500px;
	margin: auto;
}

.streak {
	text-align: center;
	width: 500px;
	margin: auto;
}

/*-------------- vue --------------*/

.game {
	width: 500px;
	margin: auto;
}

.deck {
	height: 640px;
	background-color: darkgreen;
}

.footer {
	height: 50px;
	background-color: darkred;
}